*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins"sans-serif;
}
header{
    width:100%;
    height:50px;
    background:#223bcd;
    color:#fff;
    position:;
    top:0;
    left:0;
}
h1{
    float:left;
    text-align: center;
}
p{
    text-align: center;
}
#banner{
    margin-top:0px;
    position:relative;
}
#banner img{
    width:100%;
    height:50%;
}
#banner .contenedor{
    position:absolute;
    top:10%;
    left:60%;
    color:darkblue;
    transform:translateX(10px)translateY(10px);
}
.menu a{
    display:inline-flex;
    color:#fff;
    height:50px;
    text-decoration:initial;
    padding:22px;
    border:0px solid #fff;
}
.menu a:hover{
    background:lightskyblue;
}
#bienvenidos h2{
    padding:15px;
    text-align: center;
    text-transform:uppercase;
    background: #223bcd;
    color:#fff;
}


#servicios{
    background: #99c4f9;
    padding:30px;
}
#servicios h2{
    text-align: center;
    color: darkblue;
    text-transform:uppercase;
}
#servicios h4{
    text-align:center;
    color:darkblue;
    font-family:"tahoma",sans-serif;
}
#servicios .contenedor{
    display:flex;
    justify-content:center;

}
#servicios article{
    margin:16px;
}
#servicios img{
    width:100%;
    max-width:300px;
}


#productos {
    background: #223bcd;
    color: #fff;
    text-align:center;
    padding:30px;
}
#productos h2{
    padding:15px;
    text-transform: uppercase;
}
#productos .contenedor{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info.mascota{
    margin: 40px;
}
.info-mascotas img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border:7px solid #fff;
}
#productos img{
    width:100%;
    max-width:150px;
    border-radius: 50%;
    margin: 30px
}
#guarderia {
    background: #99c4f9;
    color: darkblue; 
    text-align: center;
    padding:40px;
}
#guarderia h2{
    padding:15px;
    text-transform:uppercase;
    text-align: center;
}
#guarderia h4{
    text-align: center;
    color:darkblue;
    font-family:"tahoma",sans-serif;
}
#guarderia .contenedor{
    display: flex;
    justify-content: center;

}
#guarderia article{
    margin:16px;
}
#guarderia img{
    width:100%;
    max-width:300px;
}

#promociones {
    background: #223bcd;
    color: #fff;
    padding:30px;
    text-align:center;

}
#promociones h1{
    padding:15px;
    text-transform: uppercase;
    text-align:center;
}
#promociones .contenedor{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#promociones img{
    width:100%;
    max-width:150px;
    border-radius: 10%;
    margin: 20px
}
.info.promocion{
    margin: 60px;
}
.info-promocion img{
    width:100px;
    height:150px;
    border-radius: 50%;
    border:3px solid #000;
}
#ubicacion {
    background: #99c4f9;
    color: darkblue; 
    text-align:center;
    padding:50px;
}
#ubicacion h1{
    position: relative;
    left:20%;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
#ubicacion .contenedor{
    display: flex;
    padding: 35px;
    flex-wrap: wrap;
    justify-content: rght;
}
#ubicacion .contenedor iframe{
    width:60%;
    border-radius:2px;
}
#ubicacion .contenedor p{
    padding:40px;
    width:50%;
    text-align: left;
}

footer{
    background: #223bcd;
}
footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    color:#fff;
}
.copy{
    font-size: 20px;
    pudding:20px;
}
.red-social a{
    color:#fff;
}